<h1>Drink Type</h1>

<a href="/drink-type/new" class="btn btn-primary btn-md">New</a>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
        <th>Description</th>
        <th>Height</th>
        <th>Diameter</th>
        <th>Volume</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {{#each drinkType}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.type}}</td>
        <td>{{this.description}}</td>
        <td>{{this.height}}</td>
        <td>{{this.diameter}}</td>
        <td>{{this.volume}}</td>
        <td>
          <a class="btn btn-secondary btn-sm" href="/drink-type/{{this.id}}/edit">Edit</a>
          <a class="btn btn-danger btn-sm" href="/drink-type/{{this.id}}/delete">Delete</a>
        </td>
      </tr>
    {{/each}}
    </tbody>
  </table>
</div>